doctype html
html(ng-app="countryApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller="CountryListCtrl")
    block content

  script(src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js')
  script(src="javascripts/countryControllers.js")
  script(src="javascripts/countryServices.js")
  script(src="javascripts/appRoutes.js")
  script(src="javascripts/app.js")
